{% load static %}

<!Doctype html>
<html>
<head>
    <meta charset="utf_8">
    <title>music site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'project.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <h1>سایت ترانه زندگی</h1>
</head>
<body>
        <header>
        <nav class="navbar">
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="material-icons" href="{% url 'home' %}">خانه home</a>
                </li>
                <li class="nav-item">
                    <a class="material-icons" href="{% url 'music' %}">آهنگ ها headset</a>
                </li>
                <li class="nav-item">
                    <a class="material-icons" href="{% url 'album' %}">آلبوم album</a>
                </li>
                <li class="nav-item">
                    <a class="material-icons" href="{% url 'music_video' %}">موزیک ویدیو music_video</a>
                </li>
            </ul>
            
            <form class=search action="{% url 'search' %}">
                <input type="text" name="q" value="{{request.GE.q}}" class="form-control" placeholder="نام آهنگ و یا آلبوم مورد نظر خود را وارد کنید">
                <button id="search-btn"> 🔍</button>
            </form>
        </nav>
    </header>
    <div class="scroll"></div>
    {% block body %} {% endblock body %}
    
    
    <script src="{% static 'project.js' %}" defer></script>
    
    
</body>

</html>
