{% include 'base.html' %}
{% include 'sidebar.html' %}

<div id="content">
    <div id="main">
        <h3 class="search_title">نتایج جستجو</h3>
        {% if track %} {% for track in track.all %}
        <div class="post-info">
            <h3>♫ {{track.title}} </h3>
            <hr>
            <div class="post-pic "><img src="{{track.image.url}}"></div>
            <div class="post_summary">{{track.summary}}</div>
            <a href="{%url 'post' track.slug %}">
                <div class="btn">ادامه مطلب و دانلود</div>
            </a>
        </div>
        {% endfor %}
        {% for album in album.all %}
        <div class="post-info">
            <h3>♫ {{album.title}} </h3>
            <hr>
            <div class="post-pic"><img src="{{album.image.url}}"></div>
            <div class="post_summary">{{album.summary}}</div>
            <a href="{%url 'album_post' album.slug %}">
                <div class="btn">ادامه مطلب و دانلود</div>
            </a>
        </div>
        {% endfor %} {% else %}
        <p>متاسقانه هیچ نتیجه ای یافت نشد! :(</p>
        {% endif %}
    </div>
</div>
{% include "musicsidebar.html" %}
{% include "footer.html" %}
